* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(217, 234, 224);
}
.block1 {
    width: 800px;
    height: 300px;
    margin-left: 150px;
    margin-right: 200px;
    margin-bottom: 40px;
    margin-top: 40px;
    background-color: rgb(238, 224, 195);
    border-radius: 10px;
}
.return{
    height: 30px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    padding-left: 150px;
    border-bottom: 0.1px solid #ccc;
}
.describe{
    border: 0 solid #ccc;
}
.picture {
    width: 260px;
    height: 300px;
    float: left;
}
.img-lz1 {
    width: 260px;
    height: 300px;
}
h2 {
    font-size: 20px;
}
.introduce {
    width: 540px;
    height: 300px;
    float: right;
    font-family: 宋体;
}
.introduce h1{
    text-align: center;
    margin-top: 5px;
}
.introduce h2{
    text-align: center;
    margin-top: 5px;
}
.summary{
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: 华文行楷;
    font-size: 19px;
}
ul {
    width: 800px;
    margin-left: 150px;
    margin-right: 300px;
    background-color: white;
}